body {
    margin-top: 50px;
}

.jumbotron {
    background-color: yellow;
    color: black;
    border-bottom: 3px solid black;

}

.footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0;
    margin-top: 30px;
}

.obligatorio {
    color: red;
}

.card-body img {
    width: 100%;
    height: 100px;
}

/* ICONOS */
footer div address .oi {
    padding: 10px;
}
.card-hotel div .oi {
    padding-right: 10px;
}

body .alert {
    width: 50%;
    text-align: center;
    
}
